@media only screen and (min-device-width: 300px) and (max-device-width: 459px) {
    .header h2 {
        font-size: 1rem;
    }
    .header img {
        width: 25px;
    }
    .seachbox__text p {
        font-size: 0.75rem;
    }
    .seachbox__text span {
        font-size: 0.6rem;
    }
    .searchbox__input {
        margin-top: 15px;
    }
    .searchbox__input img {
        margin: auto 160px;
        width: 15px;
    }
    .landingbox__content div {
        padding: 20px;
        margin: 30px 10px;
    }
    .landingbox__content h3 {
        font-size: 1rem;
    }
    .landingbox__content span {
        width: auto;
        font-size: 0.5rem;
    }
    .button {
        font-size: 0.9rem;
    }
    input[type="text"],
    select,
    textarea {
        max-width: 240px !important;
    }
    #search {
        width: 90%;
    }
    .filter h2 {
        font-size: 1rem;
    }
    .addnote {
        margin: 30px;
    }
    .sort__search__box {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .sort__select {
        width: 200px;
    }
    .notebody__lists {
        display: grid;
    }
    .filter__item {
        display: none;
    }
    .filter__item__res {
        display: flex;
    }
    .filter__item__res {
        font-size: 0.6rem;
        width: 90%;
        margin: auto;
    }
    .filter__item__res div span {
        font-size: 0.5rem;
    }
    .notelist {
        font-size: 0.8rem;
    }
    .notlist__item p {
        font-size: 0.7rem;
    }
    .footer__content p,
    .footer__content h4,
    .footer__socialmedia {
        font-size: 0.7rem;
    }
    .footer__icons {
        width: 100%;
    }
    .footer__content img {
        width: 12px;
    }
}
@media only screen and (min-device-width: 460px) and (max-device-width: 740px) {
    .header h2 {
        font-size: 1rem;
    }
    .header img {
        width: 25px;
    }
    .landingbox__content div {
        padding: 20px;
        margin: 30px 10px;
    }
    .landingbox__content span {
        width: auto;
        font-size: 0.7rem;
    }
    .button {
        font-size: 0.8rem;
        height: 50px;
        width: 135px;
    }
    input[type="text"],
    textarea {
        width: 100% !important;
        font-size: 0.7rem;
    }
    .sort__search__box {
        padding: 0;
        width: 90%;
    }
    .searchbox__input img {
        margin: auto 130px;
        width: 18px;
    }
    .filter {
        padding: 30px;
        align-items: center;
    }
    .filter h2 {
        font-size: 1rem;
    }
    .addnote {
        margin: 10px;
        align-items: inherit;
    }
    .notelist__items {
        margin: 10px;
    }
    .notebody {
        margin: 20px 30px 0 0;
    }
    .filter__item {
        font-size: 0.85rem;
        width: auto;
    }
    .filter__item div span {
        font-size: 0.6rem;
        margin: 10px;
    }
    .notelist {
        font-size: 0.8rem;
    }
    .notlist__item p {
        font-size: 0.7rem;
    }
    .footer__content p,
    .footer__content h4,
    .footer__socialmedia {
        font-size: 0.7rem;
    }
    .footer__icons {
        width: 70%;
    }
    .footer__content img {
        width: 15px;
    }
}
@media only screen and (min-device-width: 740px) and (max-device-width: 976px) {
    input[type="text"]:not(#search),
    textarea {
        width: 100% !important;
    }
    .filter__item {
        width: 21rem;
    }
    .addnote {
        margin: 10px;
        align-items: inherit;
    }
    .filter__item div span,
    .filter__item__res div span {
        font-size: 0.7rem;
    }
    .button {
        font-size: 1rem;
    }
    .filter h2 {
        font-size: 1.3rem;
    }
    .footer__content img {
        width: 20px;
    }
    .landingbox__content span {
        width: auto;
    }
}
